{% extends 'adminlte/base.html' %}

{% block content %}
<body>
    <div class=" box ">
        <div class="box-body">
                <h1    class="box-title text-center ">Agregar Agente</h1>
                <hr>
                {% if agentForm %}
                <div class="text-center">
                  <form action="{% url 'agentes' %}" method="post">
                    {% csrf_token %}
                    {{ agentForm.as_p }}
                    <input type="submit" class="btn btn-primary" value="Agregar">
                  </form>
                </div>
                {% else %}
                  <p>No se pudo cargar el formulario.</p>
                {% endif %}
        </div>
            
    </div>
</body>
    
{% endblock %}
