{% extends 'adminlte/base.html' %}

{% block content %}
    <!-- Default box -->
   
    <div class="box">
        {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <!--<li class="{{ message.tags }}">{{ message }}</li>-->
              {% endfor %}
            </ul>
        {% endif %}
        
        <h1 class="box-title text-center">Administración de Archivos de Configuración</h1>

        
            <div class="container">
                <div class="row">
                        <div class="col">
                            <h5 >Formulario</h5>
                            <form method="post" action="{% url 'download' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="ip">Direccion IP</label>
                                    <input id="ip" class="form-control" type="text" placeholder="192.168.0.5" name="IP">
                                </div>
                            

                                <button class="btn btn-primary" type="submit">Descargar</button>
                            </form>
                        </div>
                        
                        <!--<div class="col">
                            <h5 >Tabla</h5>
                            <table class="table">
                                    <thead>
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col">Dirección IP</th>
                                              <th scope="col">Archivo de configuración</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                    <th scope="row">1</th>
                                                    <td>192.168.0.5</td>
                                                    <td>R1.txt</td>
                                                    
                                                  </tr>
                                    </tbody>
                            </table>
                            <button class="btn btn-primary">Configiurar Routers</button>
                        </div>-->
                </div>
           
            </div>

    </div>
{% endblock %}