{% extends 'adminlte/base.html' %}
{% load static %}

{% block content %}
<body>
   
        <div class="fluidcontainer">
                <h3 class="text-center">Detalles del agente</h3>
        </div>
    
    <div class=" box ">
        <div class="box-header">
                <h1 class="box-title text-center"> Estado del Agente </h1> <hr>
        </div>
        <div class="box-body">
                <h3 class="box-title text-center"> {{ nombreHost }} </h3> <hr>
                <table  class="table table-striped table-bordered table-hover ">
                        <thead class="text-center">
                            <tr>
                                    <th scope="col"><b>Infromación</b></th>
                                    <th scope="col"><b>Descripción</b></th>
                                    
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                        <td>Nombre del host</td>
                                        <td>{{ nombreHost }}</td>
                                </tr>
                                <tr>
                                        <td> IP</td>
                                        <td>{{ detallesAgente.host }}</td>
                                </tr>
                                <tr>
                                        <td>Sistema Operativo</td>
                                        <td>{{ detallesAgente.so }}</td>
                                </tr>
                                <tr>
                                        <td>Numero de interfaces de red</td>
                                        <td>{{ detallesAgente.interfaces }}</td>
                                </tr>
                                <tr>
                                        <td>Tiempo de actividad</td>
                                        <td>{{ detallesAgente.tiempoReinicio }} ms</td>
                                </tr>
                                <tr>
                                        <td>Ubicación</td>
                                        <td>{{ detallesAgente.locacion }}</td>
                                </tr>
                                <tr>
                                        <td>Contacto</td>
                                        <td>{{ detallesAgente.contacto }}</td>
                                </tr>
                                
                        </tbody>
                    </table>
               
            </div>             
        <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i></button>
                
            </div>

        <div class="container-fluid ">
            <h1 class ="box-title text-center">Gráficas de Monitoreo</h1>
            <hr>

            <div class="card text-center">
                    <img id="imgTraficoRed" class="  center-block" src="{{imgTraffic.location}}" alt="Grafica" style="width:50%">
                    <div class="container ">
                      <h5><b>Trafico de red </b></h5>
                      <p>Bytes/s</p>
                    </div>
            </div> 
            <hr>

            <div class="card text-center">
                    <img class="  center-block" src="{{imgPing.location}}" alt="Grafica" style="width:50%">
                    <div class="container ">
                      <h5><b>Respuestas Ping </b></h5>
                      <p>Respuestas/s</p>
                    </div>
            </div> 
            <hr>

            <div class="card text-center">
                    <img class="  center-block" src="{{imgTCP.location}}" alt="Grafica" style="width:50%">
                    <div class="container ">
                      <h5><b>Segmentos TCP </b></h5>
                      <p>Conexiones/s</p>
                    </div>
            </div> 
            <hr>

            <div class="card text-center">
                    <img class="  center-block" src="{{imgIP.location}}" alt="Grafica" style="width:50%">
                    <div class="container ">
                      <h5><b>Datagramas IP </b></h5>
                      <p>Datagramas/s</p>
                    </div>
            </div> 
            <hr>

            <div class="card text-center">
                    <img class="  center-block" src="{{imgICMP.location}}" alt="Grafica" style="width:50%">
                    <div class="container ">
                      <h5><b>Estadistica ICMP </b></h5>
                      <p>Paquetes/s</p>
                    </div>
            </div> 
            <hr>
        </div>
    </div>
    
    
</body>
    
{% endblock %}
