{% extends 'adminlte/base.html' %}
{% load static %}

{% block content %}
<body>
    <h6>{{ request.path }}</h6>
    <!-- 
        Seria bueno que se usuara jquery que usa AdminLTE  y no importar de nuevo el cdn para
        usarlo en scripts personales
    -->
    <script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    
    <script src=" {% static 'js/updateImgThrend.js' %}"></script>
    

    <h1>Proyecciones de Agentes</h1>


        <div class="fluidcontainer">
            <h3 class="text-center">Proyecciones de Rendimiento</h3>
        </div>
        

            {%for elem in agentes%}
            <div class="box">
                <div class="box-body">
                        <h5 class=" box-title text-center">{{elem}}</h5>

                        <div class="container-fluid ">
                                <h1 class ="box-title text-center">Gráficas de Tendencia</h1>
                                <hr>

                                {% with elem.name|add:"CPU.png" as rutaCPU %} 
                                <div class="card text-center">
                                        <img id="imgCPU" class="  center-block" src="{% static rutaCPU %}" alt="TendenciaCPU" style="width:50%">
                                        <div class="container ">
                                          <h5><b>Uso de CPU </b></h5>
                                          <button id="btnCPU" class="btn-primary">Actualizar Información</button>
                                          <p>Porcentaje  usado en la CPU</p>
                                        </div>
                                </div> 
                                {% endwith %}

                                <hr>
                                {% with elem.name|add:"RAM.png" as rutaRAM %}
                                <div class="card text-center">
                                        <img class="  center-block" src="{% static rutaRAM %}" alt="TendenciaRAM" style="width:50%">
                                        <div class="container ">
                                          <h5><b>Uso de Memoria RAM</b></h5>
                                          <p>Memoria RAM disponible </p>
                                        </div>
                                </div>
                                {% endwith %}
                                <hr>
                                {% with elem.name|add:"HD.png" as rutaHD %}
                                <div class="card text-center">
                                        <img class="  center-block" src="{% static rutaHD %}" alt="TendenciaHD" style="width:50%">
                                        <div class="container ">
                                          <h5><b>Uso de Disco Duro</b></h5>
                                          <p>Memoria disponible en disco duro</p>
                                        </div>
                                </div>
                                {% endwith %}
                                <hr>
                    
                                
                    
                                
                        </div>
                </div>

            </div>
            <hr>
            <br>  
            {% endfor %}
        
        


    
</div>



</body>

{% endblock %}
