{% extends 'adminlte/base.html' %}
{% load static %}

{% block content %}
<body>
   
        <div class="fluidcontainer">
                <h3 class="text-center">Detalles del Router</h3>
        </div>
    
    <div class=" box ">
        <div class="box-header">
                <h1 class="box-title text-center"> Estado del Router </h1> <hr>
        </div>
        <div class="box-body">
                <h3 class="box-title text-center"> {{ nombreHost }} </h3> <hr>
                <table  class="table table-striped table-bordered table-hover ">
                        <thead class="text-center">
                            <tr>
                                    <th scope="col"><b>Infromación</b></th>
                                    <th scope="col"><b>Descripción</b></th>
                                    
                            </tr>
                        </thead>
                        <tbody>
                                
                                <tr>
                                        <td>Dirección IP</td>
                                        <td>{{ detallesAgente.host }}</td>
                                </tr>
                                <tr>
                                    <td>Nombre del host</td>
                                    <td>{{ nombreHost }}</td>
                                </tr>
                                <tr>
                                    <td>Puerto</td>
                                    <td>{{ nombreHost }}</td>
                                </tr>
                                <tr>
                                    <td>Comunidad</td>
                                    <td>{{ nombreHost }}</td>
                                </tr>
                                
                                <tr>
                                        <td>Sistema Operativo</td>
                                        <td>{{ detallesAgente.so }}</td>
                                </tr>
                                <tr>
                                        <td>Numero de interfaces de red</td>
                                        <td>{{ detallesAgente.interfaces }}</td>
                                </tr>
                                
                                <tr>
                                        <td>Ubicación</td>
                                        <td>{{ detallesAgente.locacion }}</td>
                                </tr>
                                <tr>
                                        <td>Contacto</td>
                                        <td>{{ detallesAgente.contacto }}</td>
                                </tr>
                                <tr>
                                    <td>Archivo de configuración</td>
                                    <td>{{ detallesAgente.contacto }}</td>
                                </tr>
                                <tr>
                                    <td>Ultima Version</td>
                                    <td>True</td>
                                </tr>

                                
                        </tbody>
                    </table>
               
            </div>             
        <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i></button>
                
            </div>
    </div>
    
    
</body>
    
{% endblock %}